
<footer>
  <p>Our mailing address is:</p>
  <p><a href="https://www.escrowbet.co">Escrowbet</a>, 24, Asamankese Street. Zone 2, Wuse, Abuja</p>
    <p>You are receiving this message because you signed up on Escrowbet. For more information about how we process data, please see our <a href="https://www.escrowbet.co/privacy-policy">Privacy Policy</a></p>
</footer>
</div>
</body>
</html>
