<footer style="margin-top: 32px; padding-top: 32px; border-top: 1px solid #E5E7EB;">
  <div style="font-size: 14px; color: #6B7280; text-align: center; margin-bottom: 16px;">
    <a href="#" style="color: inherit; text-decoration: underline;">Our blog</a>
    &nbsp;&bull;&nbsp;
    <a href="#" style="color: inherit; text-decoration: underline;">Policies</a>
    &nbsp;&bull;&nbsp;
    <a href="#" style="color: inherit; text-decoration: underline;">Help center</a>
    &nbsp;&bull;&nbsp;
    <a href="#" style="color: inherit; text-decoration: underline;">Community</a>
  </div>

  <p style="font-size: 12px; color: #9CA3AF; margin-top: 16px; text-align: center;">
    &copy; 2024 Your Company Name. All rights reserved.<br>
    123 Your Street, Your City, Your Country
  </p>
</footer>
</div>
</body>
</html>
