{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909517/email-changed_v2hhz4.png"
    alt="email change icon"
  />
</div>

<h1>Email Changed Successfully</h1>

<div class="message-body">
  <p class="message-title">Your email has been changed successfully - you can
    now log in with your new email</p>
</div>
<div class="button-container">
  <a href="https://www.app.escrowbet.co/auth/signup" class="button">Login</a>
</div>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't perform this action, please contact support immediately.</span>
</div>
{{> footer}}
