{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909519/password-changed_et6kzj.png"
    alt="password changed icon"
  />
</div>

<h1>Password Changed Successfully</h1>

<div class="message-body">
  <p class="message-title">Your password has been reset successfully - you can
    now log in with your new password</p>
</div>

<div class="button-container">
  <a href="https://www.app.escrowbet.co/auth/signup" class="button">Login</a>
</div>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't perform this action, please contact support immediately.</span>
</div>
{{> footer}}
