{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909517/confirm-email_chsdnh.png"
    alt="confirm email icon"
  />
</div>

<h1>Confirm your email</h1>

<div class="code-label">OTP CODE</div>
<div class="verification-code">{{code}}</div>

<p class="message">Please use the code above to confirm creating your account</p>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't make this request, you can safely ignore this email</span>
</div>
{{> footer}}
