{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909514/request-email-change_kem8ig.png"
    alt="change email icon"
  />
</div>

<h1>Change Account Email</h1>

<div class="code-label">Change Email</div>
<div class="button-container">
  <a href="{{link}}" class="button">Confirm Email</a>
</div>

<p class="message">Please use the link above to confirm changing your account email address</p>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't request this email, contact support immediately.</span>
</div>
{{> footer}}
