{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909514/request-email-change_kem8ig.png"
    alt="change email icon"
  />
</div>

<h1>Change Account Email</h1>

<div class="code-label">OTP CODE</div>
<div class="verification-code">{{code}}</div>

<p class="message">Your email reset token is above - enter it in your open
  browser window to change your email.</p>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't request this email, contact support immediately.</span>
</div>
{{> footer}}
