{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909518/forgot-password_ramezr.png"
    alt="forgot password icon"
  />
</div>

<h1>Reset your password</h1>

<div class="message-body">
  <p class="message-title">We received a request to reset your password. Use the
    button below to reset it.
  </p>
  <p class="strong-message">This password reset is only valid for the next 24
    hours.</p>

  <div class="after-message">
    <p>If the button doesn't work, copy and paste this link:</p>
    <a href="{{resetLink}}">{{resetLink}}</a>
  </div>
</div>

<div class="button-container">
  <a href="{{resetLink}}" class="button">Reset Password</a>
</div>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't make this request, you can safely ignore this email</span>
</div>
{{> footer}}
