{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909514/wallet-funded_bwzmrs.png"
    alt="bet funded icon"
  />
</div>

<h1>Wallet Funded Succesfully</h1>
<p>Hi {{firstName}},</p>
<div class="message-body">
 <p class="message-title"><strong>{{amount}} </strong> has been added to your wallet, you can now stake and bet with your friends</p>
</div>

<div class="button-container">
  <a href="https://www.app.escrowbet.co/bets/{{betId}}" class="button">Create
    bet</a>
</div>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't perform this action, please contact support immediately</span>
</div>
{{> footer}}
