{{> header}}
<div class="icon">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909514/wallet-withdrawal_o8yrnu.png"
    alt="wallet withdrawal"
  />
</div>

<h1>Wallet Withdrawal Succesfully</h1>
<p>Hi {{firstName}},</p>
<div class="message-body">
 <p class="message-title"><strong>{{amount}} </strong> has been widthrawn from your wallet, we are processing your payment, payment will be settled within the next 24 hours</p>
</div>

<div class="button-container">
  <a href="https://www.app.escrowbet.co" class="button">View
    Wallet</a>
</div>
<div class="warning">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730909516/caution_aklov6.png"
    alt="caution icon"
  />
  <span>If you didn't perform this action, please contact support immediately</span>
</div>
{{> footer}}
