{{> header}}
<div class="banner">
  <img
    src="https://res.cloudinary.com/dpi4cp2g1/image/upload/v1730918770/handshake_people_ptsb8q.png"
    alt="Welcome to Escrowbet"
  />
</div>
<div class="content">
  <h1>Welcome to Escrowbet!</h1>

  <p>Hi {{firstName}},</p>

  <p>We’re excited to welcome you to Escrowbet! This platform was created with
    one goal in mind: to change the way you bet with friends. Here, betting goes
    beyond just placing stakes—it’s about fostering integrity, building trust,
    and enjoying the spirit of friendly competition with security and fairness
    at the core.</p>

  <h3>Why We’re Different</h3>
  <ul>
    <li><strong>Integrity</strong>: Every bet is transparent and fair, so you
      can trust the outcome.</li>
    <li><strong>Mutual Agreement</strong>: Set your own terms and settle results
      with your friends—without any conflicts.</li>
    <li><strong>Security</strong>: We’re committed to keeping your bets and
      personal information safe and private.</li>
  </ul>

  <p>As a new member, you’re now part of a community that values respect and
    good sportsmanship. We’re thrilled to have you with us and can’t wait to see
    you experience betting in a better way!</p>

  <p>Stay tuned for updates, tips, and exciting new features coming soon.</p>

  <p>Thank you for joining us at Escrowbet. Let’s make betting fun and fair!</p>

  <p>Best regards,</p>
  <p>The Escrowbet Team</p>
  <div class="button-container">
    <a href="https://www.app.escrowbet.co" class="button">Get Started</a>
  </div>
</div>
{{> footer}}
